/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Styles or Utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
.background-image{
    background-color:  #2D25A0;
}
/*----------------------
     menu styles
   -------------------- */
.menu{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 124px;
    font-size: 16px;
    padding-top: 42px;
}
.menu a{
    text-decoration: none;
}
.menu-left a{
    margin-right: 36px;
    color: #FFFFFF;
}
.menu-right a{
     background-color:  #E02C6D;
     color: #FFFFFF;
     width: 123px;
     height: 44px;
     padding: 10px 24px;
}
.fa-sign-in-alt {
    padding-right: 8px;
}
/*-------------------
    top part styles 
  --------------------*/
.container{
    display: flex;
    margin-bottom: 70px;
    padding-top: 49px;
    padding-left: 150px;
    padding-right: 135px;
}
.half-width{
    width: 50%;
}
.section-title{
    width: 485px;
    height: 230px;
    font-size: 64px;
    color: #FFFFFF;
    padding-bottom: 27px;
}
.button{
     text-decoration: none;
     background-color: #E02C6D;
     color: #FFFFFF;
     width: 168px;
     height: 44px;
     padding: 10px 24px;
}
@keyframes slidebg {
    to {
      background-position: 5em;
    }
  }
.button:hover {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    animation:slidebg 5s linear infinite;
}
.fa-arrow-right{
     padding-left: 8px;
}
.half-width img{
    width: 556.01px;
    height: 438px;
    padding-left: 40px;
    padding-bottom: 86px;
}
/*------------------------
      middle part styles
 ------------------------- */
 .top-players{
     padding-left: 100px;
     padding-right: 110px;
     padding-bottom: 100px;
 }
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:27px;
    grid-column-gap:30px;
}
.player{
    width: 325px;
    height: 474px;
    border:5px solid white;
    box-shadow:0 0 5px grey;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.player img{
    width: 324px;
    height: 256px;
}
.player-name{
    color: #18191F;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-info{
    color: #6C6C6C;
    font-size: 16px;
}
/*--------------------
 match summary styles
 ------------------ */
 .match{
    text-align: center;
    background-color: blueviolet;
}
.schedule{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-column-gap:24px;
   padding-right: 100px;
   padding-left: 100px;
   margin-bottom: 50px;
}
.schedule img{
   width: 300px;
   height: 200px;
}
/*-----------------
   partner styles 
 ------------------*/
hr{
   border: 1px solid #D1D1D1;
   margin-bottom: 27px;
}
.partners{
    text-align: center;
    color: cadetblue;
}
.logo{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-row-gap:30px;
   padding-right: 200px;
   padding-left: 250px;
}
.logo img{
    width: 100px;
    height: 100px;
}
/*-----------------------
    footer styles
 ---------------------- */
 .footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 475px; 
    padding-right: 480px;
 }
 .footer-img img{
    width: 483.87px;
    height: 110px;
 }
 .footer-icons{
     padding-left: 155px;
     padding-right: 155px;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 .footer-icons a{
     background-color: lightgray;
     border-radius: 10%;
     height: 50px;
     width: 50px;
     margin-right: 14px;
 }
 .fa-instagram{
     width: 16px;
     height: 13px;
     color: #969BAB;
 }
 .fa-basketball-ball{
    width: 16px;
    height: 13px;
    color: #969BAB;
 }
 .fa-twitter{
    width: 16px;
    height: 13px;
    color: #969BAB;
 }
 .fa-youtube{
    width: 16px;
    height: 13px;
    color: #969BAB;
 }
 .copyright{
     padding-left: 124px;
     padding-right: 124px;
 }


/* ---------------------
   Media Queries
   -------------------- */

   /* Mobile Devices */
   @media only screen and (max-width:688px) {
    .main{
        width: 100%;
    }
       .menu{
           width: 395px;
           padding-left: 10px;
           padding-right: 10px;
           padding-top: 10px;
           background-color: #2D25A0;
       }
       .menu-left{
           width: 100px;
           height: 200px; 
       }
       .menu-right a{
        height: 30px;
        width: 40px;
        padding: 5px ;
       }
       .container {
           flex-direction: column;
           width: 100%;
           padding-left: 20px;
           padding-right: 20px;
        }
        .section-title{
            font-size: 40px;
            height: 250px;
            width: 150px;
        }
        .button{
            height: 34px;
            width: 60px;
            padding: 10px ;
        }
        .half-width img{
            padding-left: 10px;
            height: 300px;
            width: 300px;
            margin-top: 50px;
        }
        .top-players{
            padding-left: 10px;
            padding-right: 10px;
            width: 340px;
        }
        .players{
            grid-template-columns: repeat(1,1fr);
            align-items: center;
        }
        .player{
            width: 300px;
            height: 430px;
        }
        .player img{
            width: 300px;
            height: 200px;
        }
        .player-name{
            width: 300px;
            height: 30px;
        }
        .player-info{
            width: 300px;
            height: 30px;
        }
        .summary{
            width: 340px;
        }
        .schedule{
            padding:0 10px;
            grid-template-columns: repeat(1,1fr);
            grid-row-gap:20px ;
        }
        .our-partners{
              width: 340px;
            }
        .logo{
            padding-left: 10px;
            padding-right: 10px;
            grid-template-columns: repeat(2,1fr);
        }
        .logo img{
            justify-content: space-between;
        }
        .footer-container{
            padding-left: 10px;
            padding-right: 10px;
            width: 340px;
        }
        .footer-info{
             grid-template-columns: repeat(1,1fr);
            flex-direction: column;
        }
        .footer-img img{
            width: 300px;
        }
        .footer-icons{
            padding-left: 50px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .copyright{
             padding-left: 30px;
             padding-right: 10px;
        }
    }
        /* tablet devices */
        @media only screen and (min-width:689px) and (max-width:992px) {
            .main{
                width: 100%;
            }
            .menu{
                width: 760px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                background-color: #2D25A0;
            }
            .menu-left{
                width: 100px;
                height: 200px; 
            }
            .menu-right a{
             height: 30px;
             width: 40px;
             padding: 5px ;
            }
            .container{
                width: 760px;
                padding-left: 20px;
                padding-right: 20px;
            }
            .section-title{
                font-size: 50px;
                height: 250px;
                width: 180px;
            }
            .button{
                height: 34px;
                width: 60px;
                padding: 10px ;
            }
            .half-width img{
                padding-left: 10px;
                height: 350px;
                width: 350px;
                margin-top: 50px;
            }
            .top-players{
                padding: 0 20px;
                padding-bottom: 50px;
                width: 760px;
            }
            .players{
                grid-template-columns: repeat(2,1fr);
            }
            .summary{
                width: 760px;
            }
            .schedule{
                padding:0 20px;
                grid-template-columns: repeat(2,1fr);
                grid-row-gap:20px ;
            }
            .our-partners{
                  width: 760px;
                }
            .logo{
                padding-left: 20px;
                padding-right: 20px;
                grid-template-columns: repeat(2,1fr);
            }
            .logo img{
                justify-content: space-between;
            }
            .footer-container{
                padding-left: 20px;
                padding-right: 20px;
                width: 760px;
            }
            .footer-info{
                 grid-template-columns: repeat(1,1fr);
                flex-direction: column;
            }
            .footer-img img{
                width: 400px;
                padding-left: 10px;
            }
            .footer-icons{
                padding-left: 120px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .copyright{
                padding-left: 80px;
                padding-right: 20px;
            } 
        }